Jomari Profeta <Mjprofeta@tip.edu.ph> jomari profeta
Jomari Profeta <Mjprofeta@tip.edu.ph> HoshikawaShiori

Joshua Hero Dela Cruz <jhdcrux@outlook.com> Joshua Hero
Joshua Hero Dela Cruz <jhdcrux@outlook.com> jhdcruz

